@charset "UTF-8";

html,
body {
  height: 100%;
}

@media all and (-ms-high-contrast:none) {
  body {
    overflow-x: hidden;
  }
}

body.open {
  overflow: hidden;
}

#container {
  width: 100%;
}

.inner-wrap {
  width: 980px;
  margin: 0 auto;
  padding: 0;
}

.inner-wrap.flex-container {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  border: solid 1px #ececec;
}

.inner-wrap.flex-container main {
  width: 72%;
  background-color: #ffffff;
  border-right: solid 1px #ececec;
}

.inner-wrap .inner {
  padding: 0;
}

@media screen and (max-width: 979px) {
  .inner-wrap {
    width: 100%;
  }

  .inner-wrap.flex-container {
    width: 90%;
  }

  .inner-wrap .inner {
    padding: 0 4%;
  }
}

@media screen and (max-width: 767px) {
  .inner-wrap.flex-container {
    width: 100%;
    border: none;
    display: block;
  }

  .inner-wrap.flex-container main {
    width: 100%;
  }

  .inner-wrap.flex-container aside {
    display: none;
  }

  .inner-wrap .inner {
    padding: 0 5%;
  }
}

.center-align {
  float: none;
  margin: 0 auto;
}

/* ------------------------------------
 * Forms
 * ------------------------------------ */
.mw-5 {
  max-width: 500px;
}

/* ------------------------------------
 * Header
 * ------------------------------------ */
ul {
  list-style: none;
  padding-inline-start: 0 !important;
}

header {
  width: 100%;
  height: 300px;
  background: #003efd url("../images/bg_header.png") no-repeat center top;
  color: #ffffff;
  z-index: 1000;
}

header .inner-wrap {
  position: relative;
}

header h1 {
  padding-top: 43px;
}

header h1 a,
header h1 span.logo {
  display: block;
  width: 190px;
  height: 164px;
  margin: 0 auto;
  background: url("../images/logo.svg") no-repeat center center;
  background-size: auto 100%;
  text-indent: -9999px;
  will-change: transform;
}

#nav-toggle {
  display: none;
  transform: scale3d(0, 0, 0);
}

#nav-fullscreen {
  height: 100%;
}

#nav-overlay {
  display: none;
}

#nav-menu {
  margin-top: 35px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#nav-menu li a {
  display: block;
  padding: 0 1em;
  line-height: 1;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
  border-left: solid 1px #69acff;
}

#nav-menu li:first-child a {
  border: none;
}

#nav-menu li a:hover {
  color: #01fff4;
}

@media screen and (max-width: 979px) {
  header {
    height: 190px;
    background: #003efd url("../images/bg_header.png") no-repeat center top;
    background-size: cover;
  }

  header h1 {
    padding-top: 23px;
  }

  header h1 a,
  header h1 span.logo {
    width: 116px;
    height: 100px;
  }

  #nav-menu {
    margin-top: 25px;
  }

  #nav-menu li a {
    padding: 0 0.8em;
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  header {
    height: 60px;
  }

  header h1 {
    padding-top: 5px;
  }

  header h1 a,
  header h1 span.logo {
    width: 58px;
    height: 50px;
  }

  #nav-menu li a {
    border: none;
  }

  #nav-container {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -9px;
    z-index: 100;
  }

  #nav-toggle {
    position: relative;
    display: block;
    width: 30px;
    height: 22px;
    cursor: pointer;
    transform: rotate(0deg);
  }

  #nav-toggle span {
    top: 50%;
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    left: 0;
    content: "";
    transition: 0.5s ease-in-out;
  }

  #nav-toggle span:nth-child(1) {
    top: 0px;
  }

  #nav-toggle span:nth-child(2) {
    top: 10px;
  }

  #nav-toggle span:nth-child(3) {
    top: 20px;
  }

  #nav-toggle.open span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #01fff4;
  }

  #nav-toggle.open span:nth-child(2) {
    opacity: 0;
  }

  #nav-toggle.open span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    background-color: #01fff4;
  }

  #nav-overlay {
    display: block;
    position: absolute;
    width: 100%;
    z-index: -1;
    transition-delay: 0s;
    transform: scale3d(1, 0, 0);
  }

  #nav-overlay.open {
    display: block;
    transition: 1.0s;
    transition-delay: 0s;
    transform: scale3d(1, 1, 1);
  }

  #nav-fullscreen {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    transition: ease-in-out 0.25s;
    transition-delay: 0s;
    visibility: hidden;
    opacity: 0;
  }

  #nav-fullscreen a {
    color: white;
    text-decoration: none;
  }

  #nav-fullscreen.open {
    height: 100%;
    visibility: visible;
    opacity: 1;
    background-color: #056aea;
    transition: ease-in-out 0.5s;
    transition-delay: 0.25s;
  }

  #nav-fullscreen ul {
    opacity: 0;
  }

  #nav-fullscreen.open ul {
    opacity: 1;
  }

  #nav-fullscreen *,
  #nav-fullscreen *:before,
  #nav-fullscreen *:after {
    box-sizing: inherit;
  }

  #nav-overlay {
    background: #056aea;
  }

  #nav-toggle span {
    background-color: #ffffff;
  }

  #nav-fullscreen {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: #ffffff;
  }

  #nav-menu {
    display: block;
    margin-top: 0;
  }

  #nav-menu li a {
    padding: 20px 10px;
    font-size: 26px;
    font-weight: normal;
  }
}

@media screen and (max-width: 520px) {
  #nav-menu li a {
    font-size: 20px;
  }
}

/* ------------------------------------
 * Hover Button
 * ------------------------------------ */

.hover-button {
  border-radius: 2rem;
  background-color: transparent;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.5rem 5rem;
  overflow: hidden;
  position: relative;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.hover-button:hover::before {
  margin-left: 0;
}

.hover-button span {
  position: relative;
  z-index: 1;
}

.hover-button::before {
  content: '';
  height: 100%;
  width: 200%;
  margin-left: -100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: linear-gradient(to right, #3366cc, #2b82d0, #adc2eb, #2b82d0, #3366cc);
  filter: contrast(150%);
  transition: 0.3s
}

div.button {
  display: flex;
  align-items: center;
  justify-content: center;
}
