{% extends 'base.html' %}

{% block title %}
프로필 작성
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form enctype="multipart/form-data" action="{%url 'saveprofile'%}" method="POST">
        {% csrf_token %}
        <input type="File" name = "image" onchange="checkSize(this)"><br>
        팀이름<input type="text" name = "name"><br>
        팀소개<input type="text" name = "management"><br>
        <select name="team">
            <option value="">==팀 선택==</option>
            <option value="A">== A ==</option>
            <option value="B">== B ==</option>
            <option value="C">== C ==</option>
        </select>
        <input type="submit" value="프로필 변경" >
    </form>
</body>
</html>
{% endblock %}
